$icon-font: "\f031";
$icon-eye: "\f06e";
$icon-comment-o: "\f0e5";
$icon-lightbulb-o: "\f0eb";
$icon-hand-paper-o: "\f256";
$icon-map-o: "\f278";
$icon-hearing: "\e00c";
$icon-forum: "\e04d";
$icon-font_download: "\e08b";
$icon-remove_red_eye: "\e1a8";
$icon-timer: "\e1b6";
$icon-directions_run: "\e1fe";
$icon-clock: "\e600";
$icon-hand: "\e601";
$icon-hour-glass: "\e602";
$icon-light-bulb: "\e603";
$icon-twitter: "\e604";
$icon-type: "\e605";
$icon-eye2: "\e606";
$icon-comment-discussion: "\f04f";
$icon-radio-tower: "\f030";
$icon-home3: "\e607";
$icon-mic: "\e608";
$icon-compass2: "\e609";
$icon-keyboard: "\e60a";
$icon-mail: "\e60b";
$icon-twitter2: "\e60c";
